* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} /* THis is for the whole browser*/

/*These are the styling for the biography file*/
body {
  background-color: rgb(153, 207, 225);
  color: black;
  line-height: 1.5;
  padding: 30px;
}

/*These are the styling for the register form*/

body.register-body {
  height: 100px;
  margin: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  width: 400px;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.register-form-group label {
  margin-bottom: 5px;
}

.register-form-group input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.role-select {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.register-form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form-group p.login-redirect {
  text-align: center;
}

/* These are the styling for the login file*/
body.login-body {
  height: 100px;
  margin: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  width: 400px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.login-form-group label {
  margin-bottom: 5px;
}

.login-form-group input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.login-form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form-group p.register-redirect {
  text-align: center;
}
